/**
 * Variables
 * =================================
 * - Typography
 * - Breakpoints
 * - Paths
 * - Layout & Grid
 * - App-specific
 */

@use 'sass:map';

$font-size-base: 16px !default;
$font-family-base: 'Montserrat', sans-serif;

$colors: (
  'black': [#000],
  'white': [#fff],
  'gray': [#e7e7e7],
  'primary': [#ccc],
  'secondary': [#607d8b],
  'surface': [#fff],
  'background': [#fff],
  'on-primary': [#666],
  'on-secondary': [#fefefe],
  'error': [#ff0000],
  'success': [#00ff00]
) !default;


$border-radius-md: 16px !default;
$border-radius-xl: 32px !default;

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1440px
);

$position: (
  'relative': relative,
  'absolute': absolute,
  'static': static,
  'sticky': sticky
);

$sizing: (
  '0': 0,
  'full': 100%,
  'min': min-content,
  'max': max-content,
  'fit': fit-content
);

$sizing-width: map.merge(('screen': '100vw'), $sizing);
$sizing-height: map.merge(('screen': '100vh'), $sizing);

$overflow: (
  'hidden': hidden,
  'scroll': scroll,
  'visible': visible,
  'auto': auto
);

$text-align: (
  'left': left,
  'right': right,
  'center': center,
  'justify': justify
);

$font-weight: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900
);

$text-size: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
  '7xl': 4.5rem,
  '8xl': 6rem,
  '9xl': 8rem
);
