/// Fonts
/// =================================
/// contains all @font-face declarations, if any.

 @font-face {
  font-family: 'Mont';
  src: local('Mont'),
			url('../fonts/mont-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont'),
			url('../fonts/mont-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont'),
			url('../fonts/mont-heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont'),
			url('../fonts/mont-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont'),
			url('../fonts/mont-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

