@use 'sass:map'as map;

@use '@snug/core'as snug with ($breakpoints: $breakpoints);
@use '@snug/modules' as snugModules;

/// spacing classes (padding and margin)
@include snugModules.spacing();
/// display helpers
@include snugModules.display();
/// flex classes
@include snugModules.flex();

.container {
  width: 100%;
}

@include snug.variants('responsive') using ($variant, $breakpoint) {
  .container {
    max-width: map.get($breakpoints, map.get($breakpoint, 'rule'));

    @at-root {
      #{&}--fluid {
        max-width: 100%;
      }
    }
  }

  /// position
  @include snug.options($position, 'responsive') using ($value) {
    position: $value;
  }

  /// text alignment
  .text {
    @include snug.options($text, 'responsive') using ($value) {
      text-align: $value;
    }
  }
}
