@use 'sass:map'as map;

@use '@snug/core'as snug with ($breakpoints: $breakpoints);
@use '@snug/modules' as snugModules;

/// spacing classes (padding and margin)
@include snugModules.spacing();
/// display helpers
@include snugModules.display();
/// flex classes
@include snugModules.flex();

// container
.container {
  width: 100%;
}
@include snug.variants('responsive') using ($variant, $breakpoint) {
  .container {
    max-width: map.get($breakpoints, map.get($breakpoint, 'rule'));

    @at-root {
      #{&}--fluid {
        max-width: 100%;
      }
    }
  }
}

@include snug.variants('responsive') using ($props...) {
  /// position
  @include snug.options($position, $props...) using ($value) {
    position: $value;
  }

  .font {
    // font-weight
    @include snug.options($font-weight, $props...) using ($value) {
      font-weight: $value;
    }
  }

  .text {
    /// text-align
    @include snug.options($text-align, $props...) using ($value) {
      text-align: $value;
    }
    /// font-size
    @include snug.options($text-size, $props...) using ($value) {
      font-size: $value;
    }
  }
}

